@use './colors' as *;

$white: var(--white);
$primary-500: var(--primary-500);
$primary-100: var(--primary-100);
$secondary-500: var(--secondary-500);
$text-dark-500: var(--text-dark-500);
$text-dark-200: var(--text-dark-200);
$text-dark-100: var(--text-dark-100);
$grey-400: var(--grey-400);
