@use './elements/mixins' as *;
@use './elements/fonts' as *;
@use './elements/icon_fonts' as *;
@use './elements/colors' as *;
@use './elements/variables' as *;
@use './elements/button' as *;
@use './elements/typography' as *;




// Hero section
.hero-background-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .floating-svg {
    position: absolute;
    opacity: 1;
    pointer-events: none;
    transform-origin: center;
  }
  
  #feedschool-hero {
    height: calc(100vh - 57px); /* Adjust for navbar height */
    background: linear-gradient(to bottom, #ffffff, #bbe5fa);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    .hero-img {
      z-index: 2;
    }
  }
  
  .hero-section {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    top: 4%;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  
  // Logo Marquee
  .home-logo-wrapper {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    display: flex;
    position: relative;
    overflow: hidden;
    
    &.reverse {
      margin-top: -2rem;
    }
  }
  
  .clients-grid {
    &.logo-animate {
      grid-column-gap: 3rem;
      opacity: 1;
      flex: none;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 100rem;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      display: flex;
    }
    
    &.logo-animate-alt {
      grid-column-gap: 3rem;
      flex: none;
      width: 100rem;
      margin-top: 0;
      margin-left: 0;
      margin-right: auto;
      display: flex;
    }
  }
  
  .marquee-overlay {
    height: 100%;
    width: 100%;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
    position: absolute;
    z-index: 2;
  }
  
  // Animations
  @keyframes slide {
    0% {
      transform: translateX(calc(0% + 50px));
    }
    
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slidealt {
    0% {
      transform: translateX(calc(0% + 50px));
    }
    
    100% {
      transform: translateX(-100%);
    }
  }
  
  .logo-animate {
    animation: slide 35s infinite linear;
  }
  
  .logo-animate-alt {
    animation: slidealt 35s infinite linear;
    animation-direction: reverse;
  }
  
  // Role register
  .role-register {
    .nav {
      .nav-item {
        .nav-link {
          background-color: $white;
          color: $text-dark-500;
          border-radius: 16px;
          border: 2px solid $grey-400;
          @include transition(all 0.3s ease);
          
          &:hover,
          &.active {
            background-color: $primary-50;
            color: $primary-500;
            border: 2px solid $primary-100;
          }
          
          i {
            font-size: 1.125rem;
          }
        }
      }
    }
  }


  .section-title {
    text-align: center;
    margin-bottom: 3rem;
    h4{
      color: var(--secondary-500);
    }
    p {
      color: var(--primary-500);
    };
  }

/* About Us Section */
#about-us, #role-cards-wrapper, #feature-card-wrapper {
  margin: 3.75rem 0;
}
  #about-us-wrapper {
    .section-body {
      .about-us-points-list {
        .about-us-points {
          color: var(--text-dark-100);
        }
      }
    }
  }

  .aboutus-bottom-content {
    .btn {
      i {
        display: inline-block;
        transform: rotate(-45deg);
        transition: transform 0.3s ease;
      }

      &:hover i {
        transform: rotate(0deg);
      }
    }
  }

// Role card 
#role-cards-wrapper {
  .full-height-card{
    min-height: 390px !important;
  }
  .role-card{
    background-color: var(--primary-50) !important;
    border: 1px solid var(--primary-50) !important;
    border-radius: 1.25rem !important;
    box-shadow: none !important;
    transition: border, box-shadow 0.3s ease !important;

    &:hover{
      border: 1px solid var(--primary-100) !important;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
    }

    .role-card-title{
      text-transform: uppercase !important;
      color: var(--text-dark-100) !important;
      font-size: small !important;
      letter-spacing: 2px;
    }
    
    .role-card-subtitle{
      color: var(--primary-500) !important;
      font-size: 1rem !important;
      font-weight: bold !important;
    }
  }
}


// Feature card

.feature-card{
  min-height: 300px;
  max-height: 300px;
  border-radius: 24px !important;
  color: var(--primary) !important;
  background-color: var(--white) !important;
  border: 1px solid var(--grey-200) !important;
  box-shadow: none !important;
  transition: background-color, border 0.3s ease !important;

  &:hover{
    background-color: var(--primary-50) !important;
    border: 1px solid var(--primary-100) !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
  }
  .feature-card-icon{
    color: var(--primary-500) !important;
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
    i {
      color: var(--primary-500) !important;
    }
  }
  .feature-card-title{
    color: var(--primary-500) !important;
    margin-bottom: 1rem !important;
    font-size: 1.125rem !important;
    font-weight: bold !important;
  }
  .feature-card-subtitle{
    color: var(--text-dark-100) !important;
  }
}

  // Footer css

  .footer {
    background-color: var(--primary-500);
    color: var(--white);
    padding: 3.75rem 0 0.625rem 0; // 60px 0 10px 0
  
    .footer-sections {
      margin-bottom: 4.5rem; // 72px
  
      .footer-nav {
        .footer-nav-list {
          .footer-nav-list-item {
            a {
              color: var(--white);
              opacity: 0.5;
              transition: opacity 0.1s ease;
  
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  
    .footer-bottom {
      padding-top: 1.875rem; // 30px
      border-top: 1px solid #d4d2e32f;
  
      a {
        color: var(--white);
        opacity: 0.8;
        transition: opacity 0.1s ease;
  
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  